body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
    color: var(--primary);
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.1),
    0 12px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.control-label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-text);
}

.form-control {
    width: calc(100% - 1.5rem); /* Adjust width to account for padding */
    padding: 0.75rem;
    margin: 0.5rem 0; /* Equal margin on top and bottom */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.form-control:focus {
    border-color: #D0D7BC;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 0.5rem;
}

.form-check-label {
    color: #555;
}

.btn-primary {
    background-color: #1c1f23;
    padding: 0.75rem 1.5rem;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
}

a {
    color: #272824;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 1rem;
}

a:hover {
    text-decoration: underline;
}